.btn{
  display: block;
  width: 280px;
  height: 49px;
  border-radius: 30px;
  text-align: center;
  line-height: 49px;
  border: 3px solid #ffffff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

.btn:hover
 {
  color: #d22856;
  background-color: #fff;
}

.btn:active {
  color: #f2ced5;
}

