body {
  font-family: 'Open Sans', 'Arial', sans-serif;
}



.title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
}

.container {
  padding: 0 20px;
  box-sizing: border-box;
}

.slogan {
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
}


.bold-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
}

.small-p {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
}


@media (min-width: 660px) {
  .title {
    font-size: 50px;
    line-height: 60px;
  }

  .slogan {
    line-height: 48px;
    font-size: 40px;
  }
}


@media (min-width: 960px) {
  .slogan {
    line-height: 60px;
    font-size: 50px;
  }

  .container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
  }

  .bold-title {
    font-size: 30px;
    line-height: 30px;
  }
}
