.contacts {
  text-align: center;
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts__info {
  text-decoration: none;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  color: #d22856;
}
