.logo {
  display: none;
}

.logo:hover path {
  fill: #d22856;
}

.logo:active path {
  fill: #FFFFFF;
  opacity: 0.3;
}



@media (max-width: 659px) {
  .logo--mobile {
    display: block;
  }
}

@media (min-width: 660px) and (max-width: 959px) {
  .logo--tablet {
    display: block;
  }
}

@media (min-width: 960px) {
  .logo--desktop {
    display: block;
  }
}
