.page-header {
  min-width: 320px;
  min-height: 460px;
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat, url("../img/bg-back-mobile@1x.jpg") no-repeat;
  background-position: center bottom 270px, center bottom 270px;
}


.page-header__head {
  background-color: rgba(29, 38, 49, 0.6);
  min-height: 70px;
  border-bottom: 1px solid #000000;
}

.page-header__head--open {
  background-color: rgba(29, 38, 49, 1);;
}

.page-header__logo-link {
  display: inline-block;
  width: 77px;
  height: 24px;
  margin: 21px 0;
}

.page-header__toggle {
  float: right;
  margin-top: 21px;
}


.page-header__app {
  padding:  26px 0;
  margin-top: 392px;
  margin-left: -20px;
  margin-right: -20px;
  background-color: #1d2631;
}


@media (min-width: 660px) {
  .page-header{
    background: url("../img/iphone-hand-tablet@1x.png") no-repeat bottom, url("../img/bg-back-tablet@1x.jpg") no-repeat bottom;
  }

  .page-header__head {
    min-height: 110px;
  }

  .page-header__app {
    min-height: 425px;
    width: 300px;
    padding: 0;
    margin: 0;
    margin-top: 105px;
    padding-bottom: 85px;
    background-color: transparent;
  }

  .page-header__logo-link {
    height: 41px;
    width: 150px;
    margin-top: 27px;
    margin-bottom: 43px;
  }

  .page-header__toggle {
    margin-top: 44px;
  }
}

@media (min-width: 960px) {
  .page-header {
    height: 853px;
    background: url("../img/iphone-hand-desktop@1x.png") no-repeat bottom, url("../img/bg-back-desktop@1x.jpg") no-repeat bottom;
  }

  .page-header__head .container {
    display: flex;
    justify-content: space-between;
  }

  .page-header__toggle {
    display: none;
  }
}
