.page-header {
  min-width: 320px;
  min-height: 460px;
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat, url("../img/bg-back-mobile@1x.jpg") no-repeat;
  background-position: left 15% bottom 270px, center bottom 270px;
}

.page-header__head {
  background-color: rgba(17, 33, 46, 0.5);;
  min-height: 70px;
  border-bottom: 1px solid #000000;
}

.page-header__logo-link {
  display: inline-block;
  width: 77px;
  height: 24px;
  margin: 21px 0;
  margin-left: 20px;
  background: url("../img/logo-pink-white-mobile.svg") no-repeat center;
}

.page-header__toggle {
  float: right;
  margin-top: 21px;
  margin-right: 20px;
}


.page-header__app {
  margin-top: 392px;
  background-color: #11212e;
}


@media (min-width: 660px) {
  .page-header{
    min-height: 730px;
    background: url("../img/iphone-hand-tablet@1x.png") no-repeat bottom, url("../img/bg-back-tablet@1x.jpg") no-repeat bottom;
    padding-bottom: 105px;
  }
  .page-header__wrap {
    height: 110px;
  }
  .page-header__app {
    min-height: 425px;
    width: 300px;
    margin-top: 90px;
    background-color: none;
  }
}
