.slider {
  position: relative;
  overflow: hidden;
}

.slider__wrapper {
  position: relative;
  width: 300%;
  min-width: 960px;
  transition: .5s;
}

.slider__arrow {
  display: none;
}

.slider__radio {
  position: absolute;
  left: 50%;
  bottom: 20px;
  opacity: 0;
  z-index: -9999;
}

.slider__toggles {
  display: block;
  text-align: center;
}

.slider__toggles label {
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 0 11px;
  border-radius: 50%;
  background-color: #bec2c7;
  border: 3px solid #fff;
  cursor: pointer;
}


#radio1:checked ~ .slider__toggles label[for=radio1],
#radio2:checked ~ .slider__toggles label[for=radio2],
#radio3:checked ~ .slider__toggles label[for=radio3] {
  background-color: #fff;
  border: 3px solid #283645;
};

.slider__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 33.3%;
}

.slider__item2 {
  left: 33.3%;
}

.slider__item3 {
  left: 66.6%;
}

#radio1:checked ~ .slider__wrapper {
  transform: translateX(0);
}

#radio1:checked ~ .slider__wrapper .slider__item1 {
  position: static;
}

#radio2:checked ~ .slider__wrapper {
  transform: translateX(-33.3%);
}

#radio2:checked ~ .slider__wrapper .slider__item2 {
  position: static;
  margin-left: 33.3%;
}

#radio3:checked ~ .slider__wrapper {
  transform: translateX(-66.6%);
}

#radio3:checked ~ .slider__wrapper .slider__item3 {
  position: static;
  margin-left: 66.6%;
}

@media (min-width: 960px) {
  .slider__toggles {
    display: none;
  }

  .slider__arrow {
    display: block;
    position: absolute;
    top: 180px;
    width: 23px;
    height: 42px;
    border: none;
    background-color: transparent;
  }

  .slider__arrow--left {
    left: 20px;
    background:url('../img/icon-review-arrow-left.svg') center center no-repeat;
  }

  .slider__arrow--right {
    right: 20px;
    background:url('../img/icon-review-arrow-right.svg') center center no-repeat;
  }

}

