$tablet: 660px;
$desktop: 960px;


@import "normalize.scss";
@import "logo.scss";
@import "btn.scss";
@import "toggle.scss";
@import "slider.scss";
@import "main-nav.scss";
@import "os-list.scss";
@import "app.scss";
@import "page-header.scss";
@import "about.scss";
@import "price.scss";
@import "reviews.scss";
@import "price.scss";
@import "contacts.scss";
@import "map.scss";
@import "page-footer.scss";


body {
  font-family: 'Open Sans', 'Arial', sans-serif;
}

.container {
  padding: 0 20px;
  box-sizing: border-box;
}

.slogan {
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
}


.bold-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
}

.small-p {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
}


@media (min-width: 660px) {
  .slogan {
    line-height: 48px;
    font-size: 40px;
  }
}


@media (min-width: 960px) {
  .slogan {
    line-height: 60px;
    font-size: 50px;
  }

  .container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
  }

  .bold-title {
    font-size: 30px;
    line-height: 30px;
  }

}

